<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blacaleletrica"

   >


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DeletarConta"
            android:parentActivityName=".activity.DeletarConta"
            android:screenOrientation="portrait"/>

        <activity android:name=".EsqueceuSenha"
            android:parentActivityName=".EsqueceuSenha"
            android:screenOrientation="portrait"/>
        <activity android:name=".Cadastro"
            android:parentActivityName=".Cadastro"
            android:screenOrientation="portrait"/>
        <activity android:name=".Nbr"
            android:parentActivityName=".Nbr"
            android:screenOrientation="portrait"/>
        <activity android:name=".Configuracao"
            android:parentActivityName=".Configuracao"
            android:screenOrientation="portrait"/>
        <activity android:name=".Luminaria"
            android:parentActivityName=".Luminaria"
            android:screenOrientation="portrait"/>
        <activity android:name=".Tomadas"
            android:parentActivityName=".Tomadas"
            android:screenOrientation="portrait"/>
        <activity android:name=".TelaPrincipal"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>